<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="proveedoresCliente.Properties.Settings.proveedorClienteConnectionString"
            connectionString="Data Source=LAPTOP-407DBCNR;Initial Catalog=proveedorCliente;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>